.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-header{
  text-align: center;
  margin: 0 0 32px 0;
}
#form{
  width: 300px;
  padding: 32px;

  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;

  font-family: sans-serif;

}

table{
  border-collapse: separate;
  width: 100%;
  border-spacing: 7px 10px;
}

textarea{
  resize: none;

  width: 200px;
}
input:not(.radio-gender){
  width: 200px ;
}


.button-submit-container{
  text-align: center;
}
.button-submit{
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #e7e7e7;
  color: black;
}

